*{
    margin: auto;
    padding: auto;
box-sizing: border-box;
}

h1{text-align: center;}
h2{text-align: center;
color: aliceblue;
font-size: x-large;}
img{width: 40%;
align-content: center;}

body{background-image: url(BACKGROUND.jpg);
margin: 5px;
padding:0%;
}
table, th, td{text-align: center;
align-items: center;
border-color: aliceblue;
border-radius: 8px;
color: aliceblue;
justify-items: center;
text-align: center;
font-size: x-large;}

table a {text-decoration:underline;
color: aliceblue;}
table{height: 50%;
justify-items: baseline;
justify-content: space-evenly;}
   table, td{border-spacing: 20px;}
 td{background-color: rgba(240, 248, 255, 0.233);
border-color: aliceblue;}
